/* ===SUBMIT LINK=== */
.submit {
	margin-top: 1.3rem;
	margin-left: 1rem;
	float: right;
}

.submit input {
	margin: 0;
}

.submit input[type="text"] {
	width: auto;
}

/* ===LOGOUT=== */

.logout {
	margin-top: 1.3rem;
	float: right;
}

/* ===HEADER LOGIN=== */
.login {
	clear: left;
	margin-top : 0.5rem;
	overflow: hidden;
	margin-top: 0.5rem;
}

.login input {
	margin: 0;
	margin-right: 1%;
	margin-top: 1rem;
	float: left;
	width: 49%;
}

@media(min-width: 68em) {
	.login {
		clear: none;
		float: right;
		overflow: hidden;
	}
	.login input {
		margin: 0;
		margin-left: 1.5rem;
		float: left;
		width: auto;
	}
}

/* ===REDDITS=== */
.reddit {
	position: relative;
	display:block;
	min-height: 5rem;
	margin-bottom: 2rem;
}

form.comment-form {
	max-width:56rem;	
}

.reddit .reddit-wrapper {
	padding-left: 6rem;
}

.reddit .votebuttons {
	position: absolute;
	z-index: 2;
}



/* ===VOTE BUTTONS=== */
.votebuttons {
	text-align: center;
	width: 5rem;
}

.votebuttons .upvote, .votebuttons .downvote {
	width: 3.2rem;
	height: 3.2rem;
	fill: #4F4A4A;
}

.votebuttons .upvote:hover, .votebuttons .downvote:hover {
	cursor: pointer;
	cursor: hand;
}

.votebuttons .upvote:hover, .votebuttons .upvote.active {
	fill: #4BC35F;
}

.votebuttons .downvote:hover, .votebuttons .downvote.active {
	fill: #C15044;
}

.votebuttons .vote_sum {
	font-size: 3.6rem;
	font-family: "Droid Sans", sans-serif;
}

/* ===NEW REDDIT=== */

.new-reddit input {
	max-width: 56rem;
	display: block;
}

/* ===LANGUAGE=== */

.language-chooser {
	float: left;
	margin-left: 1rem;
	margin-top: 2rem;
}

.language-chooser > a {
	font-size: 1rem;
	font-weight: bold;
	padding: 0.3rem;
}


/* ===COMMENTS=== */
.comments {
	clear: left;
	padding-left: 6rem;
}

.comment {
	margin-bottom: 2rem;
	position: relative;
	display:block;
	min-height: 8.5rem;
	max-width:56rem;	
	display:block;
}

.comment .votebuttons {
	position: absolute;
	z-index: 2;
}

.comment .comment-wrapper {
	padding-left: 6rem;
}

.comment-text {
}

.comment-create-link img {
	width: 3.2rem;
	height: 3.2rem;
	fill: #4F4A4A;
}