<div class="col-sx-12">
    <form ng-controller="newRedditController" class="navbar-form navbar-left" role="form">
        <div class="form-group">
            <input ng-model="title" placeholder="Title" class="form-control" type="text">
        </div>
        <br>
        <div class="form-group">
            <input ng-model="link" placeholder="Link" class="form-control" type="text">
        </div>
        <br>
        <button ng-click="newReddit()" type="submit" class="btn btn-success">New Reddit</button>
    </form>
</div>
