<!--Main-->
<div ng-repeat="reddit in reddits">
    <div class="col-md-6 col-sx-12">
        <div class="reddit">
            <div class="votebuttons"
                 title="{{ reddit.votesCount }} Votes">
                <a href="#">
                    <img src="images/caret-top.svg" />
                </a>
                <span class="vote_sum">{{ reddit.rating.value }}</span>
                <a href="#">
                    <img src="images/caret-bottom.svg" />
                </a>
            </div>
            <div class="reddit-wrapper">
                <a href="{{reddit.url}}">
                    <h2>{{ reddit.title }}</h2>
                </a>

                <p>
                    {{ reddit.timeAgo }} by <em>{{ reddit.author }}</em>
                </p>
                <p ng-show="sdfsad">
                    <em>
                        <a href="#">
                            <p>{{reddit.commentsCount}} comments</p>
                        </a>
                    </em>
                </p>
            </div>
        </div>
    </div>
</div>
